* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: tahoma,宋体,fantasy; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; OVERFLOW-X: hidden; FONT-FAMILY: tahoma, 宋体, fantasy; COLOR: #000
}
.navpoint {
	CURSOR: hand
}
TH {
	
}
TD {
	LINE-HEIGHT: 20px; FONT-FAMILY: Arial; HEIGHT: 16px; FONT-SIZE: 11px; TEXT-DECORATION: none
}
TABLE {
	LINE-HEIGHT: 170%; FONT-FAMILY: Arial; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #409307; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.top_table {
	WIDTH: 100%; BACKGROUND: url(../Style/top_bg.gif); HEIGHT: 41px
}
.top_table_leftbg {
	WIDTH: auto; BACKGROUND-REPEAT: repeat-y; HEIGHT: 41px
}
.top_id {
	LINE-HEIGHT: 32px; WIDTH: 100%; BACKGROUND: url(../Style/bg2.gif); HEIGHT: 32px; BORDER-TOP: #ff6600 2px solid
}
.system_logo {
	TEXT-ALIGN: left; MARGIN-TOP: 8px; WIDTH: 160px; FLOAT: left; MARGIN-LEFT: 5px
}
.main {
	MARGIN-TOP: 5px
}
.main H2 {
	WIDTH: 105px; BACKGROUND: url(../Images/mug2.gif) no-repeat; FLOAT: left; FONT-SIZE: 12px
}
.more {
	TEXT-ALIGN: right; WIDTH: 130px; FLOAT: right; COLOR: #409307; FONT-SIZE: 12px
}
.more A {
	WIDTH: 130px; TEXT-DECORATION: underline
}
.pan {
	BORDER-BOTTOM: #b7b7b7 1px solid; BORDER-LEFT: #b7b7b7 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f9f9f9; HEIGHT: 100%; BORDER-TOP: #b7b7b7 1px solid; BORDER-RIGHT: #b7b7b7 1px solid; PADDING-TOP: 0px
}
.inbt {
	BORDER-LEFT: #b70000 0px solid; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; HEIGHT: 24px; COLOR: #666666; CLEAR: both
}
.inbt2 {
	TEXT-ALIGN: center; BORDER-LEFT: #b70000 0px solid; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; HEIGHT: 24px; COLOR: #fff; CLEAR: both
}
.inbt2 H2 {
	WIDTH: 105px; BACKGROUND: url(../Images/mug.gif) no-repeat; FLOAT: left; FONT-SIZE: 12px
}
.pan2 {
	BORDER-BOTTOM: #1e7d07 1px solid; BORDER-LEFT: #1e7d07 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; HEIGHT: 100%; BORDER-TOP: #1e7d07 1px solid; BORDER-RIGHT: #1e7d07 1px solid; PADDING-TOP: 0px
}
#zh {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; WIDTH: 98%; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: auto; PADDING-TOP: 5px
}
#zh .m_item {
	WIDTH: 100%; HEIGHT: 100%
}
#zh .m_item P {
	LINE-HEIGHT: 22px; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
#main {
	HEIGHT: auto; COLOR: #666; PADDING-TOP: 5px; magrin: 5px
}
.business_top_note {
	BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND: url(../Images/news.gif) #f8f8f8 no-repeat 8px 4px; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid
}
.business_top_note SPAN {
	COLOR: #999999; FONT-SIZE: 10px
}
.business_userinfo {
	PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; CLEAR: both; PADDING-TOP: 10px
}
.business_userinfo_left {
	TEXT-ALIGN: left; WIDTH: 503px; FLOAT: left; HEIGHT: auto
}
.business_userinfo_title {
	TEXT-ALIGN: center; WIDTH: 105px; FONT: bold 13px/27px arial; BACKGROUND: url(../Images/mug.gif) no-repeat; HEIGHT: 24px; COLOR: #fff
}
.business_userinfo_title_sb {
	LINE-HEIGHT: 27px; PADDING-LEFT: 10px; WIDTH: auto; FLOAT: left; HEIGHT: 27px
}
.business_userinfo_box {
	BORDER-BOTTOM: #84b83e 1px solid; BORDER-LEFT: #84b83e 1px solid; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 473px; DISPLAY: block; BACKGROUND: url(../Images/zhxx_bg.jpg) no-repeat 50% bottom; FLOAT: left; HEIGHT: 92px; COLOR: #666; BORDER-TOP: #84b83e 1px solid; BORDER-RIGHT: #84b83e 1px solid; PADDING-TOP: 10px
}
.business_userinfo_box SPAN {
	FONT: bold 12px arial; COLOR: red
}
.business_userinfo_box B {
	COLOR: #000; FONT-WEIGHT: normal
}
.business_userinfo_right {
	WIDTH: 429px; FLOAT: left; HEIGHT: auto
}
.business_money_title {
	LINE-HEIGHT: 29px; WIDTH: 429px; DISPLAY: block; BACKGROUND: url(../Images/money_box_title.jpg) no-repeat; FLOAT: left; HEIGHT: 29px
}
.business_money_title SPAN {
	TEXT-ALIGN: center; WIDTH: 128px; FONT: bold 13px/29px arial; FLOAT: left; HEIGHT: 29px; COLOR: #fff
}
.business_money_title A {
	LINE-HEIGHT: 29px; PADDING-LEFT: 10px; WIDTH: 65px; BACKGROUND: url(../Images/dot_hei.jpg) no-repeat left 12px; FLOAT: left; MARGIN-LEFT: 15px; OVERFLOW: hidden
}
.business_money_box {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px !important; MARGIN: 0px; PADDING-LEFT: 44px; WIDTH: 385px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../Images/money_box_bg.jpg) no-repeat; FLOAT: left; HEIGHT: 83px; COLOR: #333; OVERFLOW: hidden; PADDING-TOP: 17px
}
.business_money_box EM {
	FONT: bold 12px arial; COLOR: red; MARGIN-LEFT: 20px
}
.business_money_box B {
	FONT: 12px tohama; COLOR: #000
}
.business_userinfo2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 951px; PADDING-RIGHT: 0px; DISPLAY: block; CLEAR: both; PADDING-TOP: 10px
}
.business_userinfo_box2 {
	BORDER-BOTTOM: #b4b4b4 1px solid; BORDER-LEFT: #b4b4b4 1px solid; PADDING-BOTTOM: 20px; MARGIN: 0px auto; PADDING-LEFT: 1px; WIDTH: 946px; PADDING-RIGHT: 1px; FLOAT: left; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #b4b4b4 1px solid; BORDER-RIGHT: #b4b4b4 1px solid; PADDING-TOP: 1px
}
.business_userinfo_box3 {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; MARGIN: 0px auto 5px; PADDING-LEFT: 1px; WIDTH: 946px; PADDING-RIGHT: 1px; FLOAT: left; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
.business_userinfo_admend_box_left {
	TEXT-ALIGN: center; PADDING-LEFT: 1px; WIDTH: 104px; FLOAT: left; OVERFLOW: hidden
}
.business_userinfo_admend_box_left IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 0px auto; DISPLAY: block; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.business_userinfo_admend_box_left SPAN {
	TEXT-ALIGN: center; DISPLAY: block; FONT: 12px/17px arial; COLOR: #999; PADDING-TOP: 4px
}
.business_userinfo_admend_box_left EM {
	FONT-STYLE: normal; COLOR: red
}
DIV.menu {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff; PADDING-TOP: 2px
}
DIV.menu UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-TOP: 0px
}
DIV.menu UL LI .menu_div {
	WIDTH: 3px; DISPLAY: inline; BACKGROUND: url(../Style/menu01_right.gif); HEIGHT: 23px; FONT-SIZE: 10px
}
DIV.menu UL LI {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: auto; PADDING-RIGHT: 0px; FONT-FAMILY: 宋体,; BACKGROUND: url(../Style/menu01.gif) no-repeat; FLOAT: left; HEIGHT: 23px; FONT-SIZE: 12px; PADDING-TOP: 0px; marg: 1px
}
DIV.menu_childs UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-TOP: 0px
}
DIV.menu_childs {
	Z-INDEX: 100; BORDER-BOTTOM: #185790 1px solid; POSITION: absolute; BORDER-LEFT: #185790 1px solid; WIDTH: 158px; DISPLAY: none; WHITE-SPACE: nowrap; BACKGROUND: #f5fdff; BORDER-TOP: #185790 1px solid; BORDER-RIGHT: #185790 1px solid; TOP: 33px; LEFT: 0px
}
DIV.menu UL LI A:hover {
	COLOR: #ff7; TEXT-DECORATION: none
}
DIV.menu UL LI A {
	COLOR: #fff; TEXT-DECORATION: none
}
DIV.menu_childs UL LI A:hover {
	WIDTH: 148px; DISPLAY: block; BACKGROUND: #ffffff; COLOR: #fff; TEXT-DECORATION: none
}
DIV.menu_childs UL LI A {
	LINE-HEIGHT: 20px; PADDING-LEFT: 15px; WIDTH: 148px; HEIGHT: 20px; COLOR: #135294; TEXT-DECORATION: none
}
.main_top {
	BACKGROUND: url(../Style/left_bg.gif); TABLE-LAYOUT: auto
}
.menuhr {
	LINE-HEIGHT: 0px; MARGIN: 4px 0px 0px; WIDTH: 98%; FLOAT: left; HEIGHT: 4px; FONT-SIZE: 0px; BORDER-TOP: #b5cfde 1px solid
}
BODY {
	MARGIN: 0px; BACKGROUND: #ffffff; FONT-SIZE: 12px
}
.system_logo {
	TEXT-ALIGN: left; MARGIN: 5px; WIDTH: 160px; FLOAT: left
}
#tabs {
	LINE-HEIGHT: normal; WIDTH: auto; MARGIN-BOTTOM: -8px; FLOAT: left
}
#tabs UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 27px
}
#tabs LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-TOP: 0px
}
#tabs A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND: url(../Style/tableft6.gif) no-repeat left top; FLOAT: left; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#tabs A SPAN {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(../Style/tabright6.gif) no-repeat right top; FLOAT: left; COLOR: #e9f4ff; PADDING-TOP: 8px
}
#tabs A SPAN {
	FLOAT: none
}
#tabs A:hover SPAN {
	COLOR: #fff
}
#tabs A:hover {
	BACKGROUND-POSITION: 0% -42px
}
#tabs A:hover SPAN {
	BACKGROUND-POSITION: 100% -42px; COLOR: #222
}
.input0 {
	BORDER-BOTTOM: #bdc5ca 1px solid; BORDER-LEFT: #bdc5ca 0px solid; BACKGROUND: url(../Style/button_bg.gif); BORDER-TOP: #bdc5ca 1px solid; BORDER-RIGHT: #bdc5ca 1px solid
}
.button {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 22px; FONT-SIZE: 9pt; BORDER-LEFT-WIDTH: 1px; CURSOR: hand
}
.intxt {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 18px; MARGIN: 2px; PADDING-LEFT: 2px; BACKGROUND: #fff; HEIGHT: 18px; FONT-SIZE: 11px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.hand {
	BACKGROUND-IMAGE: url(../css/top_bg0.gif); BORDER-BOTTOM: #d4d0c8 1px solid; BORDER-LEFT: #d4d0c8 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ff830a; PADDING-LEFT: 5px; OUTLINE-WIDTH: 1px; PADDING-RIGHT: 5px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px 50%; HEIGHT: 24px; COLOR: #000; BORDER-TOP: #d4d0c8 1px solid; CURSOR: hand; BORDER-RIGHT: #d4d0c8 1px solid; PADDING-TOP: 0px
}
.button_on {
	BORDER-BOTTOM: #c3a336 1px solid; BORDER-LEFT: #c3a336 1px solid; BACKGROUND: url(../Style/button_bg2.gif); BORDER-TOP: #c3a336 1px solid; BORDER-RIGHT: #c3a336 1px solid
}
.input_on {
	BORDER-BOTTOM: #c3a336 1px solid; BORDER-LEFT: #c3a336 1px solid; FONT: 12px/22px 宋体; BACKGROUND: #f9fafc; HEIGHT: 22px; BORDER-TOP: #c3a336 1px solid; BORDER-RIGHT: #c3a336 1px solid
}
.xuhao {
	BORDER-BOTTOM: #f9fafc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #f9fafc 1px solid; LINE-HEIGHT: 12px; WIDTH: 20px; BACKGROUND: #fff; HEIGHT: 12px; BORDER-TOP: #f9fafc 1px solid; BORDER-RIGHT: #f9fafc 1px solid
}
.input1 {
	BORDER-BOTTOM: #cccccc 2px solid; BORDER-LEFT: #cccccc 2px solid; FONT: 12px/20px "tahoma", "宋体", "fantasy"; HEIGHT: 20px; BORDER-TOP: #cccccc 2px solid; BORDER-RIGHT: #cccccc 2px solid
}
.input2 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; FONT: 14px "tahoma", "宋体", "fantasy"; HEIGHT: 24px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.input3 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 20px; HEIGHT: 20px; BORDER-TOP: #cccccc 1px solid; CURSOR: hand; BORDER-RIGHT: #cccccc 1px solid
}
.input4 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; MARGIN-TOP: 5px; WIDTH: 640px; FONT: 11px "tahoma", "宋体", "fantasy"; HEIGHT: 60px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#leftframe {
	MARGIN: 0px auto; WIDTH: 214px; CLEAR: all
}
#lefttpic {
	MARGIN: 10px 0px 0px; WIDTH: 214px; HEIGHT: 18px
}
#leftmenu {
	WIDTH: 174px
}
#leftmenuinner {
	BACKGROUND-COLOR: #f6f6f6; WIDTH: 120px; BORDER-RIGHT: #d7d7d7 1px solid
}
#lmenu {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f6f6f6; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 120px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ltitle {
	LIST-STYLE-POSITION: inside; TEXT-ALIGN: left; HEIGHT: 16px; COLOR: #6d6d6d; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 7px
}
.leftlist {
	WIDTH: 120px; COLOR: #003366; FONT-SIZE: 12px
}
.leftlist1 {
	TEXT-ALIGN: right; COLOR: #003366; FONT-SIZE: 12px
}
.leftlist A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #3b577b; PADDING-TOP: 3px
}
.leftlist A:link {
	TEXT-DECORATION: none
}
.leftlist A:visited {
	TEXT-DECORATION: none
}
.leftlist A:hover {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff 0px 0px; COLOR: #666; TEXT-DECORATION: none; PADDING-TOP: 3px
}
#leftbottom {
	WIDTH: 214px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 50%; HEIGHT: 17px
}
.nrml {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #eeeeee; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
#topnav {
	TEXT-ALIGN: right; LINE-HEIGHT: 18px; MARGIN-TOP: 4px; WIDTH: 200px; PADDING-RIGHT: 1px; DISPLAY: block; FLOAT: right; FONT-SIZE: 12px
}
#topnav A {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#topnav A:hover {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#topnav A:hover {
	BACKGROUND-COLOR: #ff3300; COLOR: #ffffff; TEXT-DECORATION: underline
}
.footer {
	TEXT-ALIGN: left; MARGIN-TOP: 20px; WIDTH: 925px; HEIGHT: 60px; MARGIN-LEFT: auto; BORDER-TOP: #eeeeee 3px solid; MARGIN-RIGHT: auto
}
.footer_b {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: block; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px
}
.footer_b IMG {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 15px
}
.footer_b DIV.left {
	DISPLAY: inline; FLOAT: left
}
.footer_b DIV.left P {
	LINE-HEIGHT: 180%; PADDING-RIGHT: 10px; COLOR: #666
}
.footer_b DIV.left P A {
	MARGIN: 0px; COLOR: #666
}
.footer_b DIV.right {
	MARGIN-TOP: 15px; WIDTH: 200px; MARGIN-RIGHT: 25px
}
