<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.figoyu.easypay.dao.NewsTypeMapper">  
            
    <!-- 查询所有公告类型信息 -->  
    <select id="findAllNewsTypes" resultType="NewsType">  
        select * from newstype  
    </select>     
    <select id="findNewsTypeById" parameterType="Integer" resultType="NewsType">  
    	select * from newstype where Id=#{id}  
    </select>  
    
      
</mapper>  